.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #7c17e8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fff;
}

.product-price {
    font-size: 1rem;
    color: #ffffff;
}